#theme-bg-content {
  position: absolute;
  overflow: hidden;
  height: 100dvh;
  width: 100%;
  z-index: 3;
}
#theme-bg-content img {
  position: absolute;
}
#theme-bg-content .dark #cloud {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/assets/background/dark/cloud.png");
  background-size: contain;
  mask-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 53%, rgb(255, 255, 255) 100%);
}
#theme-bg-content .dark #mtn,
#theme-bg-content .dark #treebg {
  bottom: -60%;
  transition: all 1.4s cubic-bezier(0.23, 0, 0.13, 1);
  width: 100%;
}
#theme-bg-content .dark #hill3,
#theme-bg-content .dark #hill2,
#theme-bg-content .dark #hill1 {
  bottom: -80%;
  transition: all 1.2s cubic-bezier(0.23, 0, 0.13, 1);
  width: 100%;
}
#theme-bg-content .dark #bush2,
#theme-bg-content .dark #bush1 {
  bottom: -50%;
  transition: all 1s cubic-bezier(0.23, 0, 0.13, 1);
}
#theme-bg-content .dark #cloud {
  bottom: 5%;
}
#theme-bg-content .dark #stars,
#theme-bg-content .dark #cloud {
  opacity: 0;
  transition: all 1s cubic-bezier(0.23, 0, 0.13, 1);
  width: 100%;
}
#theme-bg-content .dark #bush1 {
  width: 35%;
  right: 14.5%;
}
#theme-bg-content .dark #bush2 {
  width: 25%;
  right: 0;
}
#theme-bg-content .dark.play #mtn,
#theme-bg-content .dark.play #treebg,
#theme-bg-content .dark.play #hill3,
#theme-bg-content .dark.play #hill2,
#theme-bg-content .dark.play #hill1,
#theme-bg-content .dark.play #bush1,
#theme-bg-content .dark.play #bush2,
#theme-bg-content .dark.play #stars,
#theme-bg-content .dark.play #cloud {
  opacity: 1;
}
#theme-bg-content .dark.play #mtn {
  bottom: 32%;
}
#theme-bg-content .dark.play #treebg {
  bottom: 18%;
}
#theme-bg-content .dark.play #hill3 {
  bottom: -18%;
}
#theme-bg-content .dark.play #hill2 {
  bottom: -19%;
}
#theme-bg-content .dark.play #hill1 {
  bottom: -15%;
}
#theme-bg-content .dark.play #bush1 {
  bottom: -1%;
}
#theme-bg-content .dark.play #bush2 {
  bottom: -1%;
}
#theme-bg-content .light #birds {
  transition: all 2s cubic-bezier(0.23, 0, 0.13, 1);
}
#theme-bg-content .light #sun,
#theme-bg-content .light #sunray1,
#theme-bg-content .light #sunray2,
#theme-bg-content .light #clouds {
  transition: all 1.4s cubic-bezier(0.23, 0, 0.13, 1);
  transition-delay: 300ms;
}
#theme-bg-content .light #mtn1,
#theme-bg-content .light #mtn2,
#theme-bg-content .light #mtn3,
#theme-bg-content .light #mtn4,
#theme-bg-content .light #mtn5 {
  transition: all 1.4s cubic-bezier(0.23, 0, 0.13, 1);
}
#theme-bg-content .light #spikes1,
#theme-bg-content .light #spikes2 {
  transition: all 1.2s cubic-bezier(0.23, 0, 0.13, 1);
}
#theme-bg-content .light #spikes1 {
  width: 100vw;
  bottom: -80%;
}
#theme-bg-content .light #spikes2 {
  width: 80vw;
  bottom: -50%;
}
#theme-bg-content .light #mtn1 {
  width: 90vw;
  bottom: -100%;
  right: -1%;
}
#theme-bg-content .light #mtn2 {
  width: 70vw;
  left: -5%;
  bottom: -100%;
}
#theme-bg-content .light #mtn3 {
  width: 70vw;
  bottom: -100%;
}
#theme-bg-content .light #mtn4 {
  width: 50vw;
  right: -1%;
  bottom: -100%;
}
#theme-bg-content .light #mtn5 {
  width: 25vw;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -100%;
}
#theme-bg-content .light #birds {
  opacity: 0;
  width: 31vw;
  right: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  top: 24%;
}
#theme-bg-content .light #clouds {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/assets/background/light/clouds.png");
  background-size: contain;
  mask-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 53%, rgb(255, 255, 255) 100%);
}
#theme-bg-content .light #sun {
  opacity: 0;
  width: 8vw;
  top: 7%;
  left: 7%;
}
#theme-bg-content .light #sunray1 {
  opacity: 0;
  width: 80vw;
  top: -64%;
  left: -27%;
}
#theme-bg-content .light #sunray2 {
  width: 80vw;
  bottom: -50%;
  right: -110%;
}
#theme-bg-content .light.play #spikes1 {
  width: 100vw;
  bottom: -5%;
}
#theme-bg-content .light.play #spikes2 {
  width: 80vw;
  bottom: -5%;
}
#theme-bg-content .light.play #mtn1 {
  width: 90vw;
  bottom: -4.7%;
  right: -1%;
}
#theme-bg-content .light.play #mtn2 {
  width: 70vw;
  left: -5%;
  bottom: 0;
}
#theme-bg-content .light.play #mtn3 {
  width: 70vw;
  bottom: 30%;
}
#theme-bg-content .light.play #mtn4 {
  width: 50vw;
  right: -1%;
  bottom: 35%;
}
#theme-bg-content .light.play #mtn5 {
  width: 25vw;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 37%;
}
#theme-bg-content .light.play #birds {
  opacity: 1;
  width: 25vw;
  right: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  top: 24%;
}
#theme-bg-content .light.play #clouds {
  opacity: 1;
}
#theme-bg-content .light.play #sun {
  opacity: 1;
  width: 8vw;
  top: 7%;
  left: 7%;
}
#theme-bg-content .light.play #sunray1 {
  opacity: 1;
  width: 80vw;
  top: -64%;
  left: -27%;
}
#theme-bg-content .light.play #sunray2 {
  opacity: 1;
  width: 80vw;
  bottom: -50%;
  right: -60%;
}

/*# sourceMappingURL=background.css.map */
